
<table class="tx-c1-portfolio" >
	<tr>
		<td>
			<f:translate key="tx_c1portfolio_domain_model_portfolio.title" />
		</td>
		<td>
		{portfolio.title}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_c1portfolio_domain_model_portfolio.descshort" />
		</td>
		<td>
		{portfolio.descshort}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_c1portfolio_domain_model_portfolio.description" />
		</td>
		<td>
		{portfolio.description}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_c1portfolio_domain_model_portfolio.date" />
		</td>
		<td>
		{portfolio.date -> f:format.date()}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_c1portfolio_domain_model_portfolio.url" />
		</td>
		<td>
		{portfolio.url}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_c1portfolio_domain_model_portfolio.images" />
		</td>
		<td>
				<f:image src="{portfolio.images.originalResource.publicUrl}" width="200"/>
		</td>
	</tr>
    <tr>
		<td>
			<f:translate key="tx_c1portfolio_domain_model_portfolio.tags" />
		</td>
		<td>
        <f:for each="{portfolio.tags}" as="tag">
            {tag.title}
        </f:for>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_c1portfolio_domain_model_portfolio.featured" />
		</td>
		<td>
		{portfolio.featured}
		</td>
	</tr>
</table>